
{boss_db_opts, [
     {model_dir, "src/model"}
    ,{source_ext, ".boss"}
]}.

{provider_hooks, [
    {pre, [{compile, {boss_db, compile}}]}
]}.

{deps, [
    {boss_db, {git, "https://github.com/synlay/boss_db.git", {branch, "feature/rebar3_support"}}}
]}.

{plugins, [
    {rebar3_boss_db, {git, "https://github.com/synlay/rebar3_boss_db.git", {branch, "master"}}}
]}.

{profiles, [
    {prod, [
         {erl_opts, [no_debug_info, warnings_as_errors]}
        ,{boss_db_opts, [
            {compiler_options, [no_debug_info, warnings_as_errors]}
        ]}
    ]},
    {test, [
         {erl_opts, [debug_info]}
        ,{boss_db_opts, [
            {compiler_options, [debug_info, return_errors]}
        ]}
    ]}
]}.

{relx, [
    {release, {boss_db_success_app, "0.1.0"},
        [ boss_db_success_app ]},

    {extended_start_script, true},
    {generate_start_script, true},

    {include_erts, false},

    {include_src, false}

]}.
